.container {
  width: 100%;
  height: 90vh;
  background-color: rgb(187, 179, 165);

  display: flex;
  justify-content: center;
  align-items: center;
}

nav, main {
  height: inherit;
}

nav {
  background-color: #673ab7;
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav > p {
  color: white;
  font-size: xx-large;
  letter-spacing: 1px;
}

nav > button{
  width: 75%;
  height: 10%;
  cursor: pointer;
  margin-top: 6%;
}

main {
  background-color: rgb(200, 209, 206);
  width: 80%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#profileBackground {
  width: 100%;
  height: 30vh;
}

#profileBackground > img {
  width: inherit;
  height: inherit;

  background-size: cover;
  background-repeat: no-repeat;
}

#avatarImage {
  position: absolute;
  top: 30%;
  left: 25%;

  width: 15vw;
  height: 25vh;

  border-radius: 100%;
  background-color: white;
}

#avatarImage > img {
  width: inherit;
  height: inherit;
  border-radius: 100%;

  background-size: cover;
  background-repeat: no-repeat;
}

#basicData {
  width: 58vw;
  height: 10vh;

  position: absolute;
  top: 41%;
  left: 41%;

  color: white;
  text-align: center;
  background-color: rgb(38, 51, 51);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  box-sizing: border-box;
}

#basicData p {
  font-size: 16px;
  padding: 5px;
}

#basicData p > span {
  font-size: 20px;
}

#list {
  width: 100%;
  height: 60vh;

  padding: 10%;
  box-sizing: border-box;
}

#tabs {
  width: 100%;
}

.topic,
.answer,
.profileDescription {
  width: 70%;
  height: 12vh;
  cursor: pointer;
  margin: 15px 0 15px 0;
  background-color: rgba(126, 167, 164, 0.486);

  border-top-left-radius: 25px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.topic:hover,
.answer:hover {
  transition-duration: 1500ms;
  background-color: rgb(157, 193, 218);
  border-bottom-right-radius: 25px;
}

.answer:hover {
  background-color: rgb(157, 206, 161);
}

.topic > p,
.answer > p{
  width: 55%;
  font-size: medium;
  margin-top: 3%;

  background-color: rgb(9, 163, 163);
  border-radius: 25px 0 25px 0;

  padding: 5px;
  box-sizing: border-box;

  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
}

.topic p > span,
.answer p > span {
  font-size: 11px;

  color: rgb(53, 49, 49);
  text-shadow: none;

  padding-left: 2%;
  box-sizing: border-box;
}

.profileDescription {
  cursor: default;
  height: 28vh;
}

.profileDescription > p {
  width: 100%;
  height: inherit;
  padding: 15px;
  box-sizing: border-box;
}
