.container {
  width: 50vw;
  height: 42vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.container div {
  width: 40%;
  height: 15%;
  margin: 1%;

  padding: 5%;
  box-sizing: border-box;

  color: white;
  font-size: 110%;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px gray;
}

.container div:first-child {
  background-color: thistle;
}

.container div:nth-child(2) {
  background-color: cornflowerblue;
}

.container div:nth-child(3) {
  background-color: burlywood;
}

.container div:nth-child(4) {
  background-color: aquamarine;
  cursor: pointer;
}

.container div:nth-child(5) {
  background-color: greenyellow;
  cursor: pointer;
}

.container div:last-child {
  background-color: indianred;
  cursor: pointer;
}
