<div id="container">
  <main>
    <div id="categories">
      <div *ngFor="let category of categories" class="category" title="Przejdź" [ngStyle]="{
        'height': category.subCategoryNames.length !== 0 ? '20vh' : '13vh'
      }">
        <div id="data">
          <img [src]="category.imageURL">
          <p> {{ category.categoryName }} </p>
        </div>

        <div id="statistics">
          <p> {{ category.numberOfTopics }} Tematów</p>
          <p> {{ category.numberOfAnswers }} Odpowiedzi</p>
        </div>

        <div class="subCategories">
          <ul *ngFor="let subCategory of category.subCategoryNames">
            <li> {{ subCategory }} </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="rightBar">
      <div>
        <p>
          Czas: 14:40 | 21.12.2013 | Czwartek
        </p>
      </div>

      <div>
        <p>Najnowsze tematy</p>
        <div class="menuElement" *ngFor="let topic of lastTopics"
            title="Dowiedz się więcej">
          <p class="header"> {{ topic.topicName }}</p>

          <table>
            <tr>
              <td>
                <!-- <img [src]="topic.avatarImageURL"> -->
                <img src="https://www.carrefour.pl/images/product/org/mango-sztuka-1d5vkk.jpg" alt="">
              </td>

              <td>
                <tr>
                  <td>
                    <p> Data: {{ topic.createdDate }} 20.12.2020r </p>
                  </td>

                  <td style="width: 100%;">
                    <p> Odpowiedzi: {{ topic.numberOfAnswers }} </p>
                  </td>
                </tr>
              </td>
            </tr>

            <tr>
              <td>
                <p class="nickname"> {{ topic.userNickname }} </p>
              </td>

              <td>
                <p> Kategoria: &nbsp; {{ topic.topicCategoryName }} | {{ topic.subCategoryName }} </p>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div>
        <p>Najnowsze odpowiedzi</p>
        <div class="menuElement" *ngFor="let answer of lastAnswers" title="Dowiedz się więcej" id="answerBox">
          <p class="header"> {{ answer.topicName }}</p>

          <table>
            <tr>
              <td>
                <!-- <img [src]="topic.avatarImageURL"> -->
                <img src="https://play-lh.googleusercontent.com/MmLHNN4_lwIN7kMG7XWnOxSYbEju-FBMEn8oDj4Xt8t9EnnH6S6GQeMHJDWpGfeDOSpM" alt="">
              </td>

              <td>
                <tr>
                  <td>
                    <p> Data: {{ answer.createdDate }} 20.12.2020r </p>
                  </td>

                  <td style="width: 100%;">
                    <p> Kategoria: <br> &nbsp; {{ answer.topicCategory }} | {{ answer.topicSubCategory }} </p>
                  </td>
                </tr>
              </td>
            </tr>

            <tr>
              <td>
                <p class="nickname"> {{ answer.userNickname }} </p>
              </td>

              <td style="width: 70%;">
                <p> {{ answer.content }} </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </main>

</div>
<app-footer></app-footer>
