#container {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  margin-bottom: 5%;
}

#categories {
  float: left;
  width: 80%;
  min-height: 500px;

  padding: 25px;
  box-sizing: border-box;
}

.category {
  width: 97%;
  padding: 25px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;

  cursor: pointer;
}

.category:hover {
  transition-duration: 250ms;
  border: 3px solid peru;
}

.category img {
  border-radius: 100%;
  padding: 15px;
  height: 65px;
  width: 65px;
}

.category p {
  font-size: 160%;
}

#data {
  float: left;
  width: 70%;

  display: flex;
  align-items: center;
}

#statistics {
  float: left;
  width: 30%;

  display: flex;
  align-items: center;

}

#statistics p {
  font-size: 100%;
  margin: 5%;
}

.subCategories {
  width: 100%;
  display: flex;
}

.subCategories ul {
  margin: 0px 5px 0px 15px;
  font-size: 120%;
}


#rightBar {
  float: left;
  width: 20%;
  min-height: 1000px;

  box-sizing: border-box;

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  padding-top: 25px;
  padding-right: 15px;
  box-sizing: border-box;
}

#rightBar div {
  width: 100%;
  height: 50vh;

  border: 1px solid white;
  background-color: #2a2f30;
  box-sizing: border-box;
}

#rightBar div:first-child {
  height: 7vh;
  background-color: rgb(204, 138, 15);
}

#rightBar div:nth-child(2) > p,
#rightBar div:nth-child(3) > p {
  margin: 0;
  padding: 3%;
  height: 5vh;

  font-weight: 600;
  box-sizing: border-box;
  background-color: rgb(57, 72, 105);
  border-bottom: 1px solid white;
}

#rightBar p {
  text-align: center;
  color: white;
}

.menuElement {
  width: 100%;
  cursor: pointer;
  height: 20vh !important;
  background-color: #4a4b4b !important;
}

.menuElement div > p {
  background-color: #4e7d88 !important;
}

.menuElement table {
  width: 100%;
  text-align: center;
  font-size: 90%;
}

.nickname {
  font-size: 130%;
  font-weight: 900;
}

.menuElement td > img {
  width: 65px;
  height: 65px;
  padding: 5px;
  border-radius: 100%;
}

.header {
  font-size: 140%;
  font-weight: 900;
  color: orange !important;
  background-color: black !important;
}

#answerBox {
  height: 23vh !important;
}
